
configuration {
  modi: "window,ssh,drun,combi,tasks:~/.config/rofi/scripts/tasks.sh";
  width: 40;
  show-icons: true;
  combi-modi: "window,drun,tasks:~/.config/rofi/scripts/tasks.sh";
  kb-remove-to-eol: "Control+u";
  kb-remove-to-sol: "Control+shift+u";
  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-mode-next: "Shift+Right,Control+n";
  kb-mode-previous: "Shift+Left,Control+p";
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
  kb-secondary-copy: "Shift+Control+c";
  kb-cancel: "Escape,Control+c,Control+bracketleft";
}

@import "/usr/share/rofi/themes/Adapta-Nokto.rasi"
@import "/home/reinaldo/.cache/wal/colors-rofi-dark.rasi"

// Unique to wal
#element.selected.normal {
  text-color: @background;
}


* {
  font: "Cascadia Mono PL 14";
}

element-icon {
  size: 32;
  margin: 0 8px 0 0;
}
