defaults/.ssh/id*
defaults/.ssh/known_hosts
defaults/.config/ranger/bookmarks
defaults/.config/ranger/history
defaults/.config/ranger/tagged
defaults/.config/pcmanfm/LXDE/desktop-items-1.conf
defaults/.config/i3/i3blocks-email/
defaults/.config/qutebrowser/quickmarks
defaults/.config/polybar/scripts/github
defaults/.config/polybar/scripts/config.ini
defaults/.config/polybar/scripts/pihole.ini
defaults/.config/zsh/.zcompdump*
mutt/gmail/cache/
mutt/gmail/certificates
mutt/ufl/cache
mutt/ufl/certificates
mutt/psu/cache
mutt/psu/certificates
mutt/aliases.txt
mutt/aliases.txt
defaults/.config/polybar/gmail/credentials.json
*.gpg
defaults/.config/qpdfview/pdf-plugin.conf
defaults/.config/qpdfview/qpdfview.conf
defaults/.config/ranger/devicons.py
defaults/.config/ranger/plugins/
defaults/.config/pulse/client.conf
defaults/.config/pulse/cookie
defaults/.config/pcmanfm/LXDE/
defaults/.config/systemd/user/default.target.wants/wallpaper.service
defaults/.config/systemd/user/timers.target.wants/wallpaper.timer
__pycache__
default.target.wants
neomutt/mailboxes
defaults/.config/systemd/user/user-applications.target
defaults/.config/systemd/user/user-applications.target.wants/
defaults/.config/zsh/.zim/
defaults/.config/zsh/*.zwc*
defaults/.config/zsh/.zcompcache/

scripts/win/win_center_kinesis.exe
defaults/.gnupg/pubring.kbx
defaults/.gnupg/pubring.kbx~
defaults/.gnupg/random_seed
defaults/.gnupg/tofu.db

defaults/.config/polybar/scripts/strava.ini
defaults/.config/rofi/config.rasi
defaults/.config/nvim/plugin/packer_compiled.vim
scripts/win/win_center.exe

defaults/.config/nvim/plugin/packer_compiled.lua
defaults/.config/doublecmd/doublecmd_.xml
defaults/.config/doublecmd/history.xml
defaults/.config/doublecmd/multiarc.ini
defaults/.config/doublecmd/pixmaps.cache
defaults/.config/doublecmd/pixmaps.txt
defaults/.config/doublecmd/session.ini
defaults/.config/doublecmd/shortcuts_.scf
defaults/.config/doublecmd/favoritetabs.xml
defaults/.config/kitty/neighboring_window.py
defaults/.config/kitty/pass_keys.py
defaults/.config/nvim/spell
defaults/.config/nvim/spell
defaults/.config/doublecmd/extassoc.xml
defaults/.config/doublecmd/highlighters.xml