[user]
	email = rmolin88@gmail.com
	name = Reinaldo Molina
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
[core]
	editor = vim
	excludesfile = /home/reinaldo/.gitignore_global

[credential]
	helper = wincred
	;helper = cache --timeout 30000
	;helper = store --file /mnt/thumbdrive/.git-credentials

; silence some strange warning
[push]
	default = simple
;[diff]  
    ;tool = gvim
;[difftool "gvim"]  
    ;cmd = "<PATH/TO/VIM> -d \"$LOCAL\" \"$REMOTE\""
	;prompt = false
;[merge]  
    ;tool = gvim
;[mergetool "gvim"]  
    ;cmd = "<PATH/TO/VIM> -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
	;prompt = false
