let mapleader=" "

inoremap <c-j> <ESC>
cnoremap <c-j> <ESC>

nnoremap <s-b> ^
nnoremap <s-w> $

nnoremap <s-q> yyp
nnoremap <s-q> yyp

nnoremap <s-t> %

nnoremap <Leader><Space>v "*p
nnoremap <c-m> o<ESC>
nnoremap <cr> o<ESC>

" Source ideavimrc
nnoremap <Leader>ms :so ~/.ideavimrc<CR>

set relativenumber

" Folding
  " Folding select text then S-f to fold or just S-f to toggle folding
  " not supported
  nnoremap <C-z> zz
  nnoremap <C-c> zM
  nnoremap <C-n> zR
  " not supported
  nnoremap <C-x> zo
  " dont use <C-a> it conflicts with tmux prefix
  set foldenable
  " global fold indent
  set foldmethod=indent
  set foldnestmax=18      "deepest fold is 18 levels
  set foldlevel=0
  set foldlevelstart=0

" you can use :so ~/.ideavimrc just as <Space>ms
noremap <S-s> #<C-o>

nnoremap <c-j> 10j
nnoremap <c-k> 10k

nnoremap <Leader><Space>v "+p
nnoremap <Leader><Space>y "+yy

noremap <Leader>I ggvG=

" Use :actionlist
" nnoremap <Space>S :action Android.SyncProject<CR>:action Synchronize<CR>
nnoremap <Leader>S :action Synchronize<CR>

" Android section
nnoremap <Leader>ad :action Debug<CR>
nnoremap <Leader>am :action MakeGradleProject<CR>
nnoremap <Leader>ar :action Run<CR>
nnoremap <Leader>as :action Stop<CR>
nnoremap <Leader>al :actionlist<CR>

" Zoom section
nnoremap <Leader><Space>- :action EditorDecreaseFontSize<CR>
nnoremap <Leader><Space>= :action EditorIncreaseFontSize<CR>

" Go to section
nnoremap <Leader>sn :action GotoNextError<CR>
nnoremap <Leader>sp :action GotoPreviousError<CR>

" Step section
nnoremap <Leader>si :action StepInto<CR>
nnoremap <Leader>so :action StepOver<CR>
nnoremap <Leader>sO :action StepOut<CR>
nnoremap <Leader>sr :action Resume<CR>

" Toggle Section
nnoremap <Leader>td :action ToggleDistractionFreeMode<CR>
nnoremap <Leader>tf :action ToggleFloatingMode<CR>
nnoremap <Leader>tb :action ToggleLineBreakpoint<CR>


" EditorCreateRectangularSelection
nnoremap - :action CommentByLineComment<CR>

" Quit section
nnoremap <Leader>ql :action CloseContent<CR>
nnoremap <Leader>qs :action HideSideWindows<CR>
nnoremap <Leader>qa :action HideAllWindows<CR>
nnoremap <Leader>qA :action Exit<CR>

cnoremap <c-o> <up>
cnoremap <c-k> <down>

set hlsearch      " highlight search terms
set number
nnoremap <c-h> :noh<CR>
set showmode

" Research show sample code
" Goto class
" Go to count g;
" Refactor
" Window managment
"
" Window navigation
nnoremap <Leader>l <c-w>l
nnoremap <Leader>j <c-w>j
nnoremap <Leader>h <c-w>h
nnoremap <Leader>k <c-w>k

set notimeout
set nottimeout
set surround
set incsearch

" Help section
nnoremap <Leader>He :action ExternalJavaDoc<CR>
" File | Settings
nnoremap <Leader>ft :action ShowSettings<CR>

inoremap <c-c> //<Space> 
