! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Fake transparency. Only shows wallpaper
! urxvt*transparent: true
! urxvt*shading: 30

URxvt.font: xft:monospace:size=12

! VERY IMPORTANT: Reload config with xrdb ~/.Xresources

! Real Transparency. Requires work
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! Command to search the help:
! rxvt --help 2&>1 | grep scroll
URxvt.scrollBar: false 

! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Press key to open 
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

! Color URLs
URxvt.matcher.rend.0: Uline Bold fg5

! TODO Fix cursor. Get hotkey to pull up terminal
