$include /etc/inputr
set convert-meta on
set editing-mode vi
set bell-style none

"\C-x\C-r": re-read-init-file
"\C-p": history-search-backward 
"\C-n": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
