# File:					.xprofile
# Description:			Its sole purpose is to silence the super annoying terminal beep
# Author:				Reinaldo Molina <rmolin88@gmail.com>
# Version:				0.0.0
# Last Modified:		Fri Nov 24 2017 12:15
# Created:				Aug 19 2017 13:31
# Location:				~/.xprofile
# Help:					See arch xprofile
# Uses:					You can start applications from here

xset -b off

# Sat Oct 14 2017 11:12: This will set the i3-sensible-terminal to be used:
[[ -f /usr/bin/termite ]] && export TERMINAL="termite"
export EMAIL="rmolin88 at gmail dot com"
[ -f /usr/bin/firefox ] && export BROWSER="/usr/bin/firefox"
