# File:					.xprofile
# Description:			Its sole purpose is to silence the super annoying terminal beep
# Author:				Reinaldo Molina <rmolin88@gmail.com>
# Version:				0.0.0
# Last Modified:		Fri Nov 24 2017 12:15
# Created:				Aug 19 2017 13:31
# Location:				~/.xprofile
# Help:					See arch wiki xprofile
# Uses:					You can start applications from here
# Note:					Not needed for i3. But useful if you ever switch....crazy!!

# export GDK_SCALE=1.5
# export QT_AUTO_SCREEN_SCALE_FACTOR=1

export HOSTNAME=$(hostname)

# Tue May 19 2020 06:24:
#   Switched to lightdm
export ZDOTDIR=$HOME/.config/zsh
[ -f $ZDOTDIR/.zshenv ] && source $ZDOTDIR/.zshenv

# Switch caps and control
# Lightdm sources this file by default
# [ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap

# Activate numlock
[ -f /usr/bin/numlockx ] && numlockx on

# Setup config for current time of day at startup
flux_loc="$HOME/.config/polybar/scripts/flux_"
[ -f "$flux_loc/flux" ] && "$flux_loc/flux" -c "$flux_loc/flux_init_config.lua"

# Concat rofi configs
if [ -f $XDG_CONFIG_HOME/rofi/$HOSTNAME.rasi ]; then
  /usr/bin/cat $XDG_CONFIG_HOME/rofi/common.rasi \
    $XDG_CONFIG_HOME/rofi/$HOSTNAME.rasi >$XDG_CONFIG_HOME/rofi/config.rasi
elif [ -f $XDG_CONFIG_HOME/rofi/common.rasi ]; then
  cp $XDG_CONFIG_HOME/rofi/common.rasi $XDG_CONFIG_HOME/rofi/config.rasi
fi

# Commands to run only once at startup specific to hosts
if [ -f "$HOME/.config/xprofile_$HOSTNAME" ]; then
  source "$HOME/.config/xprofile_$HOSTNAME"
fi

if ! pgrep -u "$USER" ssh-agent >/dev/null; then
  ssh-agent >"$XDG_RUNTIME_DIR/ssh-agent.env"
fi

# vim:filetype=sh
