! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Fake transparency. Only shows wallpaper
! urxvt*transparent: true
! urxvt*shading: 30

! To install prettier shell prompt see `banga/powerline-shell`
! Trying to get powerline to display correctly
URxvt.font: xft:monospace:size=10
! urxvt*font: xft:Terminus:pixelsize=12,xft:Droid\ Sans\ Mono\ for \Powerline:pixelsize=12
! URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
! URxvt*font: xft:Terminess Powerline:size=12
! URxvt*font: xft:Hack:size=8
! URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=16:antialias=true:hinting=true
! URxvt.font: xft:ProggyCleanTT Plus Nerd File Types Mono:pixelsize=16:antialias=true:hinting=true
!	URxvt*font:xft:dejavu sans mono:medium:pixelsize=10,xft:dejavu sans mono:medium:pixelsize=10
! URxvt*boldFont:xft:dejavu sans mono for powerline:bold:pixelsize=14,xft:dejavu sans mono for powerline:bold:pixelsize=13
URxvt.letterSpace: -1
URxvt.lineSpace: -1

! VERY IMPORTANT: Reload config with xrdb ~/.Xresources

! Real Transparency. Requires work
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0200/c800

! Command to search the help:
! rxvt --help 2&>1 | grep scroll
URxvt.scrollBar: false 

! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Press key to open 
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

! Color URLs
URxvt.matcher.rend.0: Uline Bold fg5

! Get hotkey to pull up terminal
! Use script focus_or_lunch with command urxvt
! URxvt.cursorColor: red

! Copied from https://github.com/alexbooker/dotfiles/blob/master/.Xresources
*background: #232C31
*foreground: #C5C8C6
! black
*color0: #2D3C46
*color8: #425059
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68

! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #6C7A80
*color15: #C5C8C6

! Blue theme
! Too blue
! *.foreground:           #ffffff
! *.highlightColor:       #f28022
! *.highlightTextColor:   #000000
! *.cursorColor:          #ffffff
! *.cursorColor2:         #000000
! *.background:           #2196f3

! ! black
! *.color0:       #000000
! *.color8:       #000000

! ! red
! *.color1:       #d50000
! *.color9:       #d50000

! ! green
! *.color2:       #76ff03
! *.color10:      #76ff03

! ! yellow
! *.color3:       #ffeb3b
! *.color11:      #ffeb3b

! ! blue
! *.color4:       #1a237e
! *.color12:      #1a237e

! ! magenta
! *.color5:       #e91e63
! *.color13:      #e91e63

! ! cyan
! *.color6:       #e0f7fa
! *.color14:      #e0f7fa

! ! white
! *.color7:       #ffffff
! *.color15:      #ffffff

! TODO plugins
! Get settings save over restart:
! ln -s <location to .Xresources> ~/.Xdefaults-reinaldo-machine
! where reinaldo-machine=$hostname
! That is one way another is to put `

URxvt*fading:  30
URxvt*iconFile: /usr/share/icons/Adwaita/32x32/apps/utilities-terminal.png

! Save lines
xterm*SaveLines: 80000

! Change font size on the fly
! URxvt.perl-ext-common: font-size
! URxvt.keysym.C-Up:     perl:font-size:increase
! URxvt.keysym.C-Down:   perl:font-size:decrease
! URxvt.keysym.C-S-Up:   perl:font-size:incglobal
! URxvt.keysym.C-S-Down: perl:font-size:decglobal

! Should fix some slow redrawing Ive seeing in nvim
URxvt*skipBuiltinGlyphs:    true

! Beep for new email
URxvt*urgentOnBell: true

!-----------------------------------------------------------------------
!                         Xft settings
!-----------------------------------------------------------------------

! Use xdpyinfo | grep dots to find out this number
Xft.dpi:                88
Xft.autohint:           0       
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintsfull
