; File:           wallpaper.service
; Author:		    Reinaldo Molina
; Email:          rmolin88 at gmail dot com
; Revision:	    1.1.0
; Note: `systemctl enable --now --user wallpaper.timer`
[Unit]
Description=Change wallpaper at regular intervals
; Use these below for services that depend network
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash -c '"$HOME"/.config/polybar/scripts/get_wallpaper'

[Install]
WantedBy=default.target
